/* 
.res-card{
    width: 260px;
    display: flex;
    flex-direction:column;
    padding: 10px;
    border: 1px red solid;
    grid-column: 20px;
    gap: 20px;
}
.img{
    width: 260px;
    height:200px;
    border-radius: 20px;
}
span{
    gap: 30px;
} */

.shimmer-card{
    width: 200px;
    height: 200px;
    border: 1px red solid;
    background-color: f0f0f0;
}